.navbar {
    position: fixed;
    top: 0;
    width: 90%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgba(15, 15, 16, 0.0), rgba(26, 27, 36, 0.0), rgba(35, 37, 50, 0.0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: none !important;
    box-shadow: none !important;
    z-index: 1000;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;  /* Remove underline */
    margin-left: 100px;
  }
  
  .logo-container:hover {
    opacity: 0.9; /* Slight hover effect */
  }
  
  .logo-image {
    height: 40px; /* Adjust as needed */
    width: auto;
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .menu a {
    position: relative;
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .menu a:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
  }